body {
    width: 960px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1,
p {
    margin: 0;
    padding: 0;
}

header {
    width: 960px;
    height: 90px;
    background-image: url('https://learn.logikaschool.com/uploads/2020/12/header_0_1609082687.svg');
}

main {
    padding: 40px 45px 55px;
    background-color: rgb(236, 232, 232);
}

a {
    text-decoration: none;
    font-size: 24px;
    border-bottom: 5px solid black;
    color: black;
}

nav {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 64px;
    text-align: center;
    margin-bottom: 55px;
}

div {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

div img {
    border-left: 10px dotted black;
    padding-left: 5px;
}

.paragraph {
    padding: 15px;
    margin-bottom: 55px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 24px;
}

footer {
    background-color: black;
    padding: 15px;
}

footer p {
    background-color: #fff;
    font-size: 24px;
    padding: 5px 10px;
}

footer p:not(:last-child) {
    margin-bottom: 20px;
}
